extends layout

block content
    h1=`Books`
    p(class=`${bookstatusanimation} bookstatus`)=`${bookstatus}`
    div(class="ui")
        a(class="button" href="/books/new")=`Create New Book`
        include ./form-search.pug
    table(id="booktable")
        thead
            tr
                th=`Title`
                th=`Author`
                th=`Genre`
                th=`Year`
        tbody(id='booklist')
            each book in allBooks
                tr
                    td
                        a(href=`/books/${book.id}`)=book.title
                    td=book.author
                    td=book.genre
                    td=book.year
    include ./paginate.pug