extends layout

block content
    h1=`Books`
    p(class=`${bookstatusanimation} bookstatus`)=`${bookstatus}`
    p
    a(class="button shadow-pop-bl" href="/books/new")=`Create New Book`
    table(class="booktable")
        thead
            tr
                th=`Title`
                th=`Author`
                th=`Genre`
                th=`Year`
        tbody
            each book in allBooks
                tr
                    td
                        a(href=`/books/${book.id}`)=book.title
                    td=book.author
                    td=book.genre
                    td=book.year